header a {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  width: 400px;
}

header img {
  width: 400px;
}

nav {
  overflow: hidden;
  padding-left: 20px;
}

nav a {
  text-decoration: none;
}

.navElement {
  float: left;
  background-image: url(../img/darkParchment.jpg);
  text-align: center;
  width: 120px;
  height: auto;
  margin: 0 5px;
  border-radius: 10px 10px 0 0;
  padding: 3px 0;
}

.navElement a {
  color: black;
  font-size: 28px;
}

section {
  min-height: 650px;
  border-radius: 20px;
  padding: 0 50px;
  background-image: url(../img/parchment.jpg);
  overflow: hidden;
}

.themeSection {
  padding: 70px 0px;
}

.theme {
  border: 2px solid black;
  width: 900px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  border-radius: 15px;
  padding: 20px;
  overflow: hidden;
  position: relative;
}

.theme img {
  width: 200px;
  display: block;
  float: left;
  margin-right: 20px;
}

.theme p {
  font-size: 20px;
}

.toBooking {
  background-color: #737373;
  color: white;
  font-family: 'Do Hyeon', sans-serif;
  font-size: 20px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  float: right;
}

.toBooking:hover {
  background-color: #4F4F4F;
}

#forumTitle {
  font-size: 35px;
  margin-bottom: 10px;
}

section hr {
  border: 1px solid black;
}

.forumList {
  width: 95%;
  margin: 0 auto;
  font-size: 23px;
}

.forumList table {
  width: 100%;
}

.forumList th {
  display: inline-block;
}

.forumList td {
  display: inline-block;
}

.forumList th:nth-of-type(1) {
  width: 10%;
}

.forumList th:nth-of-type(2) {
  width: 79%;
}

.forumList th:nth-of-type(3) {
  width: 10%;
  float: right;
}

.forumList tr td:nth-of-type(1) {
  width: 10%;
  text-align: center;
}

.forumList tr td:nth-of-type(2) {
  width: 79%;
}

.forumList tr td:nth-of-type(3) {
  width: 10%;
  float: right;
  text-align: center;
}

.forumList a {
  text-decoration: none;
  color: black;
}

.write {
  background-color: white;
  color: black;
  font-family: 'Do Hyeon', sans-serif;
  font-size: 20px;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  border-radius: 3px;
  float: right;
  margin-top: 20px;
}

.writing {
  width: 95%;
  margin: 0 auto;
}

.writing tr td:nth-child(1) {
  width: 10%;
}

.writing input{
  font-size: 15px;
  padding: 3px;
}

.writing input[name="title"] {
  width: 100%;
}

.writing textarea {
  font-size: 15px;
  padding: 3px;
  width: 100%;
  resize: none;
  height: 350px;
}

.writing input[type="reset"], .writing input[type="submit"] {
  background-color: white;
  color: black;
  font-family: 'Do Hyeon', sans-serif;
  font-size: 20px;
  height: 30px;
  padding: 0 8px;
  border: none;
  cursor: pointer;
  border-radius: 3px;
  display: inline-block;
  margin-right: 10px;
}

.buttons {
  display: flex;
  justify-content: flex-end;
}

.article {
  width: 95%;
  margin: 0 auto;
}

.article .title {
  font-size: 30px;
  font-weight: bold;
}

.article .writer {
  font-size: 19px;
}

.content {
  margin: 10px 0;
}

.articleBtn {
  background-color: white;
  color: black;
  font-family: 'Do Hyeon', sans-serif;
  font-size: 20px;
  height: 30px;
  padding: 0 8px;
  border: none;
  cursor: pointer;
  border-radius: 3px;
  display: inline-block;
  margin-right: 10px;
}

.deleteSection {
  display: flex;
  justify-content: center;
}

.deleteSection input[type=password] {
  margin-right: 5px;
}

.deleteSection p {
  margin: 30px 0 10px 0;
}

.bookTitle {
  font-size: 35px;
  margin-bottom: 10px;
}

.colored {
  color: #3D2A12;
  font-weight: bold;
  text-decoration: underline;
}

.timetable {
   border-collapse: collapse;
   text-align: center;
   float: right;
   width: 75%;
   height: 500px;
   overflow: scroll;
   overflow-x: hidden;
}

.timetable table {
  margin-right: 0;
}

.timetable td {
  border-bottom: 1px solid black;
}

.bookingOption {
  float: left;
}

.theme h1 {
  margin: 10px 0;
  display: inline-block;
  font-weight: normal;
}

.yellowColored {
  color: yellow;
}
